<!--@page "/"
@page "/index"


@attribute [Autho-->
@*<AuthorizeView>

    <Authorized>
        <h1>Welcome @context.User.FindFirst("UserName").Value</h1>

    </Authorized>


    <NotAuthorized>
        <h1>Sorry you have to login</h1>

    </NotAuthorized>

</AuthorizeView>*@


<!--<h1>Web store app!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />-->
